@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #0e1113;
  color: #e7e9ea;
}

* {
  -webkit-tap-highlight-color: transparent;
}

::selection {
  background: #f5df4e55;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #161a1d inset;
  -webkit-text-fill-color: #e7e9ea;
}
